<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <div>
    <p *ngFor="let file of filesNames let i = index">{{file}}</p>
  </div>
  <div>
    <form [formGroup]="filesUploadForm" (ngSubmit)="onSubmit(filesUploadForm)">
      <input formControlName="files"
      #chooseFiles style="display: none;"
      type="file" 
      (change)="uploadFiles($event)"
      multiple="multiple">
      <button type="button" (click)="chooseFiles.click()">Chоose Files</button>
      <button type="submit" [disabled]="!filesUploadForm.valid">Upload Files</button>
    </form>
  </div>
  <div>
  <table>
    <tr>
      <th>Upload Date</th>
      <th>File Name</th>
      <th>Size</th>
      <th>Download link</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let file of uploadedFiles">
      <td>{{file.date.toDate() | date:'dd.MM.yyyy'}}</td>
      <td>{{file.name}}</td>
      <td>{{file.size}}</td>
      <td><a href="{{file.url}}">{{file.url}}</a></td>
      <td><button (click)="deleteFile(file.url, file.id)">Delete</button></td>
    </tr>
  </table>
  </div>
</div>