* {
  margin: 0;
  padding: 0;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

body {
  background-color: #202020;
}

.container {
  max-width: 1920px;
  padding: 20px;
}

img {
  user-select: none;
}

.upload-section {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  &__button {
    background-color: #5cb85c;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      background-color: darken(#5cb85c, 10%)
    }
  }
  &__choose {
    margin-right: 10px;
  }
  &__upload:disabled {
    background-color: darken(#5cb85c, 15%);
    cursor: not-allowed;
    color: #999;
  }
}

.upload-files {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  &__files {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 10px;
    height: 132px;
    box-sizing: border-box;
    overflow: auto;
    &__el {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #999;
      color: #999;
      margin-bottom: 5px;
      padding-bottom: 5px;
      &__button {
        color: #fff;
        padding: 5px;
        border-radius: 50%;
        background-color: #b53636;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;
        width: 20px;
        height: 20px;
        &:hover {
          background-color: darken(#b53636, 10%)
        }
      }
    }
  }
  &__img {
    text-align: center;
    img {
      max-width: 200px;
    }
  }
}

.table1 {
  width: 100%;
  border-collapse: collapse;
  color: #999;
  button {
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  &__delete {
    background-color: #b53636;
    &:hover {
      background-color: darken(#b53636, 10%)
    }
  }
  &__copy {
    background-color: #ad8e07;
    &:hover {
      background-color: darken(#ad8e07, 10%)
    }
  }
  th, td {
    border: 1px solid #999;
    padding: 15px;
  }
  th {
    font-size: 1.1em;
    font-weight: bold;
  }
  td {
    a {
      color: #999;
    }
  }
  tr {
    background-color: lighten(#202020, 10%);
  }
  tr:nth-child(1) {
    background-color: lighten(#202020, 5%);
  }
}

.no-files-uploaded {
  padding: 5px;
  text-align: center;
  color: #999;
  border: 1px solid #999;
  border-top: none;
}

.used-mb {
  padding: 10px 0;
  color: #999;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  #confirm-delete {
    margin-left: 5px;
  }
}

.green {
  color: #5cb85c !important;
}

.orange {
  color: #f0ad4e;
}

.red {
  color: #d9534f;
}

.loading-spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 499;
  background-color: rgba(62, 62, 62, 0.9);
  .loader {
    display: flex;
    width: 64px;
    height: 64px;
    div {
      transform-origin: 32px 32px;
      animation: spin 1.2s linear infinite;
      -webkit-transform-origin: 32px 32px;
      -webkit-animation: spin 1.2s linear infinite;
      &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 52px;
        left: 30px;
        width: 7px;
        height: 22px;
        border-radius: 20%;
        background-color: #b53636;
      }
    }
    div:nth-child(1) {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      animation-delay: -1.1s;
    }
    div:nth-child(2) {
      transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      animation-delay: -1s;
    }
    div:nth-child(3) {
      transform: rotate(60deg);
      -webkit-transform: rotate(60deg);
      animation-delay: -0.9s;
    }
    div:nth-child(4) {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      animation-delay: -0.8s;
    }
    div:nth-child(5) {
      transform: rotate(120deg);
      -webkit-transform: rotate(120deg);
      animation-delay: -0.7s;
    }
    div:nth-child(6) {
      transform: rotate(150deg);
      -webkit-transform: rotate(150deg);
      animation-delay: -0.6s;
    }
    div:nth-child(7) {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      animation-delay: -0.5s;
    }
    div:nth-child(8) {
      transform: rotate(210deg);
      -webkit-transform: rotate(210deg);
      animation-delay: -0.4s;
    }
    div:nth-child(9) {
      transform: rotate(240deg);
      -webkit-transform: rotate(240deg);
      animation-delay: -0.3s;
    }
    div:nth-child(10) {
      transform: rotate(270deg);
      -webkit-transform: rotate(270deg);
      animation-delay: -0.2s;
    }
    div:nth-child(11) {
      transform: rotate(300deg);
      -webkit-transform: rotate(300deg);
      animation-delay: -0.1s;
    }
    div:nth-child(12) {
      transform: rotate(330deg);
      -webkit-transform: rotate(330deg);
      animation-delay: 0s;
    }
  }
}

@keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sign-form {
  background-color: #2d2d2d;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  max-width: 767px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  >* {
    display: block;
  }
  &__sign-up-header {
    h2 {
      color: #b53636;
      text-align: center;
      font-size: 1.3em;
      padding: 5px;
    }
  }
  &__sign-element {
    font-size: 1.1em;
    margin: 20px 0;
    .phone, .name, .email, .password {
      display: flex;
      margin-top: 5px;
    }
    .email {      
      .email-img {
        @extend .login-form;
        background-image: url("./assets/img/email.png");
        padding: 10px;
      }
    }
    .password {      
      .password-img {
        @extend .login-form;
        background-image: url("./assets/img/password.png");
      }
    }
    .sign-error {
      li {
        color: #b53636;
        font-size: 1.1em;
        padding: 10px 0 0 0;
        list-style: none;
      }
    }
    input {
      width: calc(100% - 50px);
      border: 1px solid #999;
      color: #000;
      border-radius: 0 3px 3px 0;
      box-sizing: border-box;
      padding: 7px;
      font-size: 1.1em;
      outline: none;
      background-color: rgba(#fff, 0.5);
      filter: none;
      &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border: 1px solid #999;
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
    label {
      margin-bottom: 5px;
      width: 100%;
      color: #b53636;
      font-size: 1.1em;
    }
  }
}

.if-phone-invalid {
  border-top: 2px solid #b53636 !important;
  border-left: 2px solid #b53636 !important;
  border-bottom: 2px solid #b53636 !important;
}

.login-form {
  background-color: #b53636;
  background-size: contain;
  background-position: center;
  background-origin: content-box;
  background-repeat: no-repeat;
  width: 50px;
  border-radius: 3px 0 0 3px;
  padding: 7px;
  box-sizing: border-box;
}

.hr-border {
  border-top: 0;
  border-bottom: 1px solid #999;
  margin: 20px 0;
}

.error-msg {
  color: #b53636;
  font-size: 1.1em;
  padding: 10px 0 0 0;
}

.btn-default {
  background-color: #b53636;
  width: 190px;
  display: block;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 1.1em;
  transition: all 0.5s ease;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  outline: none;
  user-select: none;
  &:hover {
    background-color: #7a2626;
  }
}

.confirm-delete-popup {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#000000, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  &__options {
    border: 1px solid #999;
    border-radius: 5px;
    background-color: #3a3a3a;
    padding: 20px;
    p {
      color: #fff;
      font-size: 1.1em;
      text-align: center;
      margin-bottom: 20px;
    }
    &__btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .confirmd-delete-btn {
        padding: 15px;
        width: 33%;
        line-height: 0;
        height: 25px;
      }
    }
  }
}

.logout-btn-conteainer {
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0;
    padding: 15px;
    width: 150px;
    line-height: 0;
    height: 25px;
  }
  .login-report-btn {
    margin-right: 10px !important;
  }
}

.login-report {
  position: absolute;
  right: 20px;
  top: 65px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #3a3a3a;
  color: #999;  
  padding: 5px;
  height: 332px;
  &__content {
    display: flex;
    margin-top: 10px;
    div:not(:last-child) {
      border-right: 1px solid #999;
      padding-bottom: 5px;
    }
    div {
      padding: 0 15px 15px 15px;
      width: 312px;
      height: 281px;
    }
  }
  &__title {
    font-size: 1.1em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 5px;
  }
  ul {
    li {
      list-style: none;
      padding-top: 5px;
    }
  }
}